body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: #fa8f3a ;
}
.red{
    background-color: #d44f74;
}
.green{
    background-color: #63aac0;
}
.blue{
    background-color: #819ff9;
}
.gameFlash{
    background-color: white;
}
.userFlash{
    background-color: rgb(107, 242, 107);
}